{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div class="container-fluid">
    <h1 class="mb-4">Uploaded Upperbody Cloth Photos</h1>
    {% if uppers %}
        <div class="row">
            {% for upper in uppers %}
                <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ upper.upper.url }}" class="card-img-top" alt="Upper Body Cloth Photo">
                            <div class="card-body">
                                <a href="{% url 'delete_upper' upper.pk %}" class="btn btn-dark">Delete</a>
                            </div>
                        </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No photos uploaded yet.</p>
    {% endif %}
    <a href="{% url 'upload_upper' %}" class="my-5 btn btn-dark">Add Upper Body Clothes</a>
</div>


<div class="container">
    <h1 class="mb-4">Uploaded Lowerbody Cloth Photos</h1>
    {% if lowers %}
        <div class="row">
            {% for lower in lowers %}
                <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ lower.lower.url }}" class="card-img-top" alt="Lower Body Cloth Photo">
                            <div class="card-body">
                                <a href="{% url 'delete_lower' lower.pk %}" class="btn btn-dark">Delete</a>
                            </div>
                        </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No photos uploaded yet.</p>
    {% endif %}
    <a href="{% url 'upload_lower' %}" class="my-5 btn btn-dark">Add Lower Body Clothes</a>
</div>

{% else %}
    <p>{{ message }}</p>
{% endif %}
{% endblock %}