{% extends 'base.html' %}

{% block title %}Upload Lower Body Cloths Photo{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="lower">Choose a photo to upload</label>
            <input type="file" class="form-control-file" id="lower" name="lower" required>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
{% else %}
    <p>{{ message }}</p>
    <a href="{% url 'user_login' %}" class="btn btn-primary">Login</a>
    <a href="{% url 'user_signup' %}" class="btn btn-secondary">Sign Up</a>
{% endif %}
<a href="{% url 'home' %}" class="btn btn-secondary mt-3">Back to Home</a>
{% endblock %}
