{% extends 'base.html' %}

{% block title %}Upload Lower Body Cloths Photo{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="lower">Choose a photo to upload</label>
            <input type="file" class="form-control-file" id="lower" name="lower" required>
        </div>
        <button type="submit" class="mt-2 btn btn-dark">Upload</button>
    </form>
{% else %}
    <p>{{ message }}</p>
{% endif %}
{% endblock %}
