{% extends 'base.html' %}

{% block title %}Matching Clothes Combinations{% endblock %}

{% block content %}
    <div class="container mb-5">
        <h1 class="mb-4">Matching Clothes Combinations</h1>
        <div class="row g-4">
            {% for combination in combinations %}
                <div class="col-md-4">
                    <div class="card h-100">
                        <div class="row g-0">
                            <div class="col-6">
                                <img src="{{ combination.upper.upper.url }}" class="card-img-top" alt="Upper Clothing">
                            </div>
                            <div class="col-6">
                                <img src="{{ combination.lower.lower.url }}" class="card-img-top" alt="Lower Clothing">
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title">Combination</h5>
                            {% comment %} <p class="card-text">{{ combination.upper }} + {{ combination.lower }}</p> {% endcomment %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


